@{
    ViewBag.Title = "Contact";
}

<h2 style="text-align:center">Encuéntranos!</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" style="text-align:center">
            <p>Bienvenido a nuestra protectora de animales!!</p>
            <p>Aquí encontrarás todo tipo de animales listos para ser adoptados, todos vacunados y con los papeles en regla.</p>
            <p>A continuación te dejamos nuestros datos y un mapa para que nos encuentres.</p>
            <p>Ven y conócelos!!</p>
        </div>
    </div>
    <div class="row">
        <div class="container" style="text-align:center;">
            <img src="~/Images/Contacto/contacto3.jpg" class="img-responsive img_contacto" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <h3>Estamos en:</h3>
            <h4>San Agustín del Guadalix</h4>
            <h4>C/ Camino de Colmenar, km 44, 28750, Madrid</h4>

            <h3>Contacta con nosotros:</h3>
            <h4 class="normal">
                <span class="glyphicon glyphicon-earphone"></span> 999999999 | 666666666
            </h4>
            <h4 class="normal"><span class="glyphicon glyphicon-envelope"></span> info@proyectoadopta.es</h4>

            <h3>Horario de visitas:</h3>
            <h4 class="normal">Lunes a viernes: de 10:30 a 14:30 y de 17:00 a 20:45</h4>
            <h4 class="normal">Sábados: de 11:00 a 20:00</h4>

        </div>
        <div class="col-md-6 col-xs-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12102.855318523176!2d-3.6269274684182413!3d40.68027391936358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd43d1a200e70e0d%3A0x1db130f41af8ab09!2s28750+San+Agust%C3%ADn+del+Guadalix%2C+Madrid!5e0!3m2!1ses!2ses!4v1521578955702" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <img src="~/Images/Contacto/contacto1.jpg" style="width:100%" />
        </div>
        <div class="col-md-6 col-xs-12">
            <img src="~/Images/Contacto/contacto2.jpg" style="width:100%" />
        </div>
    </div>
</div>