
@{
    ViewBag.Title = "VistaPedido";
}

<h3>@HttpContext.Current.User.Identity.Name, te hemos enviado toda la información detallada por correo.</h3>
<h3>Gracias por salvar una vida!!</h3>
<img src="~/Images/Otras/monotigre.jpg" />